@mixin absPosition($top: null, $left: null, $bottom: null, $right: null) {
  position: absolute;
  @if $top {
    top: $top;
  }
  @if $left {
    left: $left;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $right {
    right: $right;
  }
}

@mixin fxdPosition($top: null, $left: null, $bottom: null, $right: null) {
  position: fixed;
  @if $top {
    top: $top;
  }
  @if $left {
    left: $left;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $right {
    right: $right;
  }
}

@mixin relPosition($top: null, $left: null, $bottom: null, $right: null) {
  position: relative;
  @if $top {
    top: $top;
  }
  @if $left {
    left: $left;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $right {
    right: $right;
  }
}
